@import url(./font.css);


*{
    font-family: "Yekan";
    box-sizing: border-box;
    list-style: none;
}
:root{
    --primeryColor:#6d28d9;
    --secondryColor:#ede9fd;
    --mainWaite:#fff;
    --mainBlack:#222;
    --mainSpacing:0.1rem;
    --mainRed:#db2777;
    --bodyColor:#f6f6f6;
    --mainGray:#7c7c7c;
}
body{
    font-family: "Yekan";
    color:var(--mainGray);
    background-color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    align-items: center;

}
header{
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container
{
    display: flex;
flex-direction: column;
justify-content: start;
}
.form-container{
    display:flex;
    flex-direction: column;
}
form{
width: 25rem;
 /* background-color: white; */
display: flex;
justify-content: space-between;}
form input{
    flex:1;
}
from input, form button{
    border: none;
    outline: none;
    padding: 0.5rem;
}
form button{
    color: var(--primeryColor);
    cursor: pointer;
}
form button:hover {
    background-color: var(--primeryColor);
    color: white;

}
.todo{display: flex;
    align-items: center;
    margin: 0.3rem;
    justify-content: space-between;
background-color: gainsboro;}
.todo li{
    flex:1;
    font-weight: bold;
}
.todo span{
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
.fa-trash-alt{
    color:var(--mainRed);
}
.fa-check-square{
    color:var(--primeryColor);
}